body {
  background-image: url("sp-repeat.jpg");
  font-family: Georgia, "Times New Roman", serif;
  font-size: 150%;
}

.content {
  padding: 5vmin;
  margin: 15vmin 5vmin 15vmin 5vmin;
  background-color: white;
  max-width: 650px;
}
